@import url('https://fonts.googleapis.com/css?family=Rubik:900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

::selection {background: #ff003d}

::-moz-selection {background: #ff003d}
html{
  padding: 0;
  margin:0;
  height:100%;
}

body{
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  color: #000;
  padding: 0;
  margin:0;
}

p{
  font-size: 1.5rem;
  line-height: 1.5;
  color: #555555;
  margin-top: 0;
}

a{
  text-decoration: none;
  color:inherit;
}

a:hover{color:#ff003d;}

h1{
  font-family: 'Rubik', sans-serif;
  font-size: 6.5em;
  margin: 0;
  text-transform: lowercase;
}


h2{ /* work page title "featured" "other" */
  font-family: 'Rubik', sans-serif;
  font-size: 4.85em;
  margin-bottom:0.4rem;
  text-transform: lowercase;
  margin-top: 0;
}

.links{padding: 3rem 0 0;}

.links a{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 2.2em;
  color: #000;
  transition: 0.1s linear;
}

.links a:hover{color:#ff003d}

ul{
  list-style: none;
  margin:0;
  padding:0;
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.container{
  margin: 0 27rem 0;
}

.work{
  width:100%;
  overflow: hidden;
}

.column-1of4{
  float: left;
  width:25%;
  opacity: 0.60;
  transition: 0.1s linear;
}
.column-2of4{
  float:left;
  width:25%;
  opacity: 0.60;
  transition: 0.1s linear;
}
.column-3of4{
  float:left;
  width:25%;
  opacity: 0.60;
  transition: 0.1s linear;
}
.column-4of4{
  float:left;
  width:25%;
  opacity: 0.60;
  transition: 0.1s linear;
}

.workImg{
  width:95%;
  margin:0 auto;
}

.work:after {
    content:"";
    display: table;
    clear: both;
}

.container2{margin: 0 7rem 0}

.column-1of4:hover {opacity:1}

.column-2of4:hover {opacity:1}

.column-3of4:hover {opacity:1}

.column-4of4:hover {opacity:1}

h3{ /* diiferent from h3 on work pages */
  font-family: 'Rubik', sans-serif;
  font-size: 2.8em;
  margin-top:0.1rem;
  margin-bottom: 0px;
  text-transform: lowercase;
}

h4{ /* project type */
  font-size: 1.3em;
  margin-top: 0.3rem;
  text-transform:lowercase;
  color: #ababab;
}

.white{border:1px solid #e1e1e1;}


/* ---------- media queries ------------ */

@media (max-width:1600px){
    h3{font-size: 2em;}

    .container{margin: 0 17rem 0;}
}

@media (max-width:1200px){
  .container{margin: 0 10rem 0;}
  .container2{margin: 0 10rem 0;}

  h1{font-size: 4rem;}
  h2{font-size: 3.5rem;}

  .links{padding: 1rem 0 0;}

  .links a{font-size: 1.75em;}

  h3{font-size: 2.5em;}

  h4{font-size: 1.75em;}

  .column-1of4{
    float: none;
    width:100%;
    margin: 2rem auto 0;
  }

  .column-2of4{
    float: none;
    width:100%;
    margin: 4rem auto 0;
  }

  .column-3of4{
    float: none;
    width:100%;
    margin: 4rem auto 0;
  }

  .column-4of4{
    float: none;
    width:100%;
    margin: 4rem auto 0;
  }

  .last-work{margin-bottom: 10rem;}


  .work{margin-top: 3rem;}
  .workImg{width: 100%;}

  .workTitle{opacity: 1}
}

@media (max-width:800px){
  .container{margin: 0 5.5rem 0;}

  .column-1of4{
    float: none;
    width:100%;
    margin: 2rem auto 0;
    opacity: 1
  }

  .column-2of4{
    float: none;
    width:100%;
    margin: 4rem auto 0;
    opacity: 1
  }

  .column-3of4{
    float: none;
    width:100%;
    margin: 4rem auto 0;
    opacity: 1
  }

  .column-4of4{
    float: none;
    width:100%;
    margin: 4rem auto 0;
  }

  .last-work{margin-bottom: 15rem;}


  .workImg{width: 100%;}

  .work{margin-top: 3rem;}

  h3{font-size: 3.5em;}

  h4{font-size: 1.75em;}
}

@media (max-width:600px){
  .container{margin: 0 2.8rem 0;}
  .container2{margin: 0 2.8rem 0;}

  h1{
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 2rem;
  }

  h2{
    font-size: 2.75em;
    text-align: center;
  }

  p{font-size: 1.2em;}

  .links{
    text-align: center;
    line-height: 1.5;
  }

  .links a{font-size: 2.5em;}

  .column-1of4{
    float: none;
    width:70%;
    margin: 2rem auto 0;
  }
  .column-2of4{
    float: none;
    width:70%;
    margin: 4rem auto 0;
  }
  .column-3of4{
    float: none;
    width:70%;
    margin: 4rem auto 0;
  }
  .column-4of4{
    float: none;
    width:70%;
    margin: 4rem auto 0;
  }

  .last-work{margin-bottom: 15rem;}


  .work{margin-top: 0}

  .workTitle{
    text-align: center;
  }

  .workImg{width: 100%;}

  h3{font-size: 2.5em}

  h4{font-size: 1.5em;}
}

@media (max-width:450px){
  .column-1of4{
    float: none;
    width:95%;
    margin: 2rem auto 0;
  }
  .column-2of4{
    float: none;
    width:95%;
    margin: 4rem auto 0;
  }
  .column-3of4{
    float: none;
    width:95%;
    margin: 4rem auto 0;
  }
  .column-4of4{
    float: none;
    width:95%;
    margin: 4rem auto 0;
  }

  .last-work{margin-bottom: 15rem;}

  h1{
    font-size: 2.75em;
    text-align: center;
    margin-bottom: 1.5rem;
    }

  h2{
    font-size: 2.75em;
    text-align: center;
  }

  p{font-size: 1.2em;}

  .links{
    text-align: center;
    line-height: 1.5;
  }

  .links a{font-size: 1.75em;}

  h3{font-size: 2em;}

  h4{font-size: 1.5em;}
}
