@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700');

::selection {background: #ff003d}

::-moz-selection {background: #ff003d}

body{
  font-family: 'Work Sans', sans-serif;
  font-size: 400;
  color: #000;
}

.intro{height:90vh}

.me {padding: 10% 0 0 10%}

h1{
  font-size: 6.5em;
  font-weight: 600;
  margin: 0;
}

.me p{
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0;
}

.links{padding: 5% 0 0 10%}

.links a{
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  color: #000;
  transition: 0.2s linear;
}

.links a:hover{
  text-shadow: 0.18rem 0 0.06rem #ff7e9d, -0.18rem 0 0.06rem #66f1ff;
}

.links ul{
  list-style: none;
  margin:0;
  padding:0;
}

.element{
  font-family: inherit;
  font-size: inherit;
}

/* typed.js by Matt Boldt http://www.mattboldt.com/ */
.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
